* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}
.navbar {
    background-color: rgba(128, 0, 128, 0.86);
    padding: 0;
    margin: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.navbar .navbar-brand {
    margin-left: 3%;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 55px;
}
.navbar .navbar-brand i {
    color: #ffc107;
    font-size: 25px;
}
.navbar .container-fluid .navbar-brand, .navbar .nav-link {
    color: #ddd;
}
@media only screen and (min-device-width: 1200px) {
    .navbar .navbar-brand {
        margin-left: 10%;
    }
    .navbar .container-fluid .navbar-nav {
        margin-left: 20%;
    }
    .navbar .container-fluid .nav-link {
        margin-right: 10px;
    }
    .navbar .container-fluid .navbar-nav .accounts {
        margin-left: 40%;
    }
}
.navbar .container-fluid .navbar-brand, .navbar .nav-link i {
    font-size: 20px;
}
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    color: white;
    cursor: pointer;

}
.container {
    margin-top: 6.5%;
    margin-bottom: 4%;
}
@media only screen and (max-device-width: 320px) {
    .container {
        margin-top: 22%;
        margin-bottom: 5%;
    }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 520px) {
    .container {
        margin-top: 20%;
        margin-bottom: 5%;
    }
}
@media only screen and (min-device-width: 521px) and (max-device-width: 720px) {
    .container {
        margin-top: 15%;
        margin-bottom: 5%;
    }
}
.accounts-form-container form button {
    background-color: rgba(128, 0, 128, 0.71);
    color: white;
    font-family: "Open Sans", sans-serif;
}
.accounts-form-container form button:hover {
    background-color: rgba(128, 0, 128, 0.71);
    color: #fff;
}
.accounts-form-container form button:focus {
    background-color: rgba(128, 0, 128, 0.71);
    color: #fff;
    border: 1px solid rgba(128, 0, 128, 0.86);
}