* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}
.navbar {
    background-color: rgb(128, 0, 128);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.navbar .navbar-brand {
    margin-left: 3%;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.navbar .navbar-brand i {
    color: #ffc107;
    font-size: 25px;
}
.navbar .container-fluid .navbar-brand, .navbar .nav-link {
    color: #ddd;
}
.navbar .container-fluid .navbar-brand, .navbar .nav-link img {
    height: 30px;
    width: 30px;
    line-height: -10%;
}
@media only screen and (min-device-width: 1200px) {
    .navbar .navbar-brand {
        margin-left: 10%;
    }
    .navbar .container-fluid .navbar-nav {
        margin-left: 55%;
    }
    .navbar .container-fluid .nav-link {
        margin-right: 10px;
    }
    .navbar .container-fluid .navbar-nav .accounts {
        margin-left: 45%;
    }
}
.navbar .container-fluid .navbar-brand, .navbar .nav-link i {
    font-size: 20px;
}
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    color: white;
    cursor: pointer;

}
.container {
    margin-top: 6.5%;
    margin-bottom: 4%;
}
@media only screen and (max-device-width: 320px) {
    .container {
        margin-top: 22%;
        margin-bottom: 5%;
    }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 520px) {
    .container {
        margin-top: 20%;
        margin-bottom: 5%;
    }
}
@media only screen and (min-device-width: 521px) and (max-device-width: 720px) {
    .container {
        margin-top: 15%;
        margin-bottom: 5%;
    }
}
.accounts-form-container form button {
    background-color: rgba(128, 0, 128, 0.71);
    color: white;
    font-family: "Open Sans", sans-serif;
}
.accounts-form-container form button:hover {
    background-color: rgba(128, 0, 128, 0.71);
    color: #fff;
}
.accounts-form-container form button:focus {
    background-color: rgba(128, 0, 128, 0.71);
    color: #fff;
    border: 1px solid rgba(128, 0, 128, 0.86);
}

/* profile page */
.profile .profile-card img {
	height: 120px;
  	width: 120px;
}
.profile .profile-card h2 {
	font-size: 24px;
	font-weight: 700;
	color: #2c384e;
	margin: 10px 0 0 0;
}
.profile .profile-card h3 {
  	font-size: 18px;
}
.profile .profile-card .social-links a {
	font-size: 20px;
	display: inline-block;
	color: rgba(1, 41, 112, 0.5);
	line-height: 0;
	margin-right: 10px;
	transition: 0.3s;
}
.profile .profile-card .social-links a:hover {
  	color: #012970;
}
.profile .profile-overview .row {
	margin-bottom: 20px;
	font-size: 15px;
}
.profile .profile-overview .card-title {
  	color: #012970;
}
.profile .profile-overview .label {
	font-weight: 600;
	color: rgba(1, 41, 112, 0.6);
}
.profile .profile-edit label {
	font-weight: 600;
	color: rgba(1, 41, 112, 0.6);
}
.profile .profile-edit img {
	height: 120px;
  	width: 120px;
}

/* Bordered Tabs */
.profile .nav-tabs-bordered {
    border-bottom: 2px solid #ebeef4;
}
.profile .nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}
.profile .nav-tabs-bordered .nav-link:hover, .nav-tabs-bordered .nav-link:focus {
    color: #4154f1;
}
.profile .nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}