    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <title>Ziada &centerdot; {% block title %}{% endblock %}</title>

    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid">
                {% if request.user.is_authenticated and request.user.students.is_student is True %}
                    <a href="{% url 'homepage' %}" class="navbar-brand"><i class="bi-folder-symlink-fill"></i> Ziada</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navbar-brand"><i class="bi-folder-symlink-fill"></i> Ziada</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="dropdown-menu">
                    <div class="navbar-nav">
                        {% if request.user.is_authenticated and request.user.students.is_student is True %}
                        <a href="{% url 'homepage' %}" class="nav-item nav-link"><i class="bi-house-fill"></i> Home</a>
                        <a href="{% url 'user_profile' %}" class="nav-item nav-link"><i class="bi-person-circle"></i> Profile</a>
                        <a href="{% url 'homepage' %}" class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#upload-form"><i class="bi-cloud-plus-fill"></i> Upload</a>
                        <a href="{% url 'logout_user' %}" class="nav-item nav-link"><i class="bi-door-open-fill"></i> Logout</a>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated is False %}
                    <div class="navbar-nav accounts">
                        <a href="{% url 'login' %}" class="nav-item nav-link"><i class="bi-shield-lock-fill"></i> Login</a>
                        <a href="{% url 'signup' %}" class="nav-item nav-link"><i class="bi-person-plus-fill"></i> Signup</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}

